h1 {
    font-size: 3em;
    font-weight: 900px;
}
h2 {
    font-size: 2em;
    font-weight: 700px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color: whitesmoke;
    margin: auto;
} 
header{
    margin: auto;
    max-width: 960px;
}
main    {
    margin: auto;
    max-width: 960px;
}

/* efnisyfirlit top */
.topmenu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: grey;
    padding: 0.3em;
    margin: auto;
}
.topmenu a {
    flex-grow: 1;
    display: block;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid black;
    width: auto;
    text-align: center;
}
.topmenu a:hover {
    background-color: orange;
}
.topmenu a:active {
    background-color: orange;
}
/* efnisyfirlit bottom */
.botmenu{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: grey;
    padding: 0.3em;
    margin: auto;
}
.botmenu a {
    flex-grow: 1;
    color: rgb(225, 225, 225);
    border-bottom: 1px solid black;
    text-decoration: none;
    text-align: center;
}
.botmenu a:hover {
    background-color: black;
}
footer {
    background-color: grey;
    color: rgb(225, 225, 225);
}
.heimildir {
    text-align: center;
}
.heimildir a {
    color: rgb(225, 225, 225);
    font-weight: 500;
}
/* Grid fyrir vefsíðuna "Personur hans MF DOOM" */
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2;
}
.col-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2;
}
/* Svegjanleg hönnun */

@media screen and (min-width:760px) {
    .main {
        gap: 2em;
        padding: 0;
        max-width: 760px;
    }
    .topmenu {
        display: flex;
        flex-flow: row;
        justify-content: center;
        background-color: grey;
        padding: 0.3em;
        margin: auto;
    }
    .topmenu a {
        border: 2px solid black;
    }
    .botmenu{
        display: flex;
        flex-flow: row;
        justify-content: center;
        background-color: grey;
        padding: 0.3em;
        margin: auto;
    }
    .botmenu a {
        border: 1px solid black;
    }
}
@media screen and (min-width:960px) {
    .main {
        gap: 3em;
        padding: 0;
        max-width: 960px;
        margin: auto;
    }
    .topmenu {
        display: flex;
        flex-flow: row;
        justify-content: center;
        background-color: grey;
        padding: 0.3em;
        margin: auto;
    }
    .topmenu a {
        border: 0;
        border: 2px solid black;
    }
    .botmenu{
        display: flex;
        flex-flow: row;
        justify-content: center;
        background-color: grey;
        padding: 0.3em;
        margin: auto;
    }
    .botmenu a {
        border: 1px solid black;
    }

}
@media screen and (min-width:1280px) {
    .main {
        gap: 3em;
        padding: 0;
        max-width: 1280px;
        margin: auto;
    }
    .topmenu {
        display: flex;
        flex-flow: row;
        justify-content: center;
        background-color: grey;
        padding: 0.3em;
        margin: auto;
    }
    .topmenu a {
        border: 0;
        border: 2px solid black;
    }
    .botmenu{
        display: flex;
        flex-flow: row;
        justify-content: center;
        background-color: grey;
        padding: 0.3em;
        margin: auto;
    }
    .botmenu a {
        border: 1px solid black;
    }
}