body {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    max-width: 800px;
    margin: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(251, 238, 163);
}
h1 {
    font-size: 3em;
    font-weight: 500;
    color: rgb(189, 17, 17);
}
.poem {
    padding: 2em 4em;
    color: white;
    background-color: rgb(68, 67, 67);
}